* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    background: rgb(239, 239, 239);
    color: rgb(0, 0, 0);
    text-align: center;
}

body .pi {
    font-size: 1em;
}

body .p-selectbutton .p-button.p-highlight {
    background-color: red;
}

.unselectable {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
}

.title-big {
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 10px 10px;
    margin: 0;
    font-size: 1.5em;
    font-weight: bolder;
}

.floating-box {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

#floating-box-top {
    margin: 20px 10px 5px 10px;
    font-size: 22px;
}

#floating-box-top p {
    margin: 10px;
}

#floating-box-main {
    text-align: center;
    padding: 0 0 5px 0;
    margin: 20px 30px 25px 30px;
}

#navigation-tabs {
    margin: 0;
}

.title-and-main {
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

/* weather icons */
.icon-wrap .icon,
.icon-wrap .wi {
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
    font-size: 22px;
    margin-right: 0;
    margin-left: 0;
}
.icon-wrap-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 3px;
}